# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
mvn.sh
.m2

# General
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
bak/

# Eclipse
.metadata
.classpath
local.properties
.settings/
.loadpath
.recommenders
.project
.externalToolBuilders/
*.launch

# Netbeans
**/nbproject
**/nbproject
**/nbproject
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
nb-configuration.xml

# IntelliJ
.idea/
*.iws

# Visual Studio Code
#.vscode/
.history/
*.vsix
